# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Log files
*.log

*keys.txt

# Test script files
*_script.py

### Django ###
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
migrations
